.todos__form{
    background-color: black;
    color:wheat;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 350px;
    margin: 0 auto;
    padding: 50px;
    align-items: center;
    margin-top: 50px;
    border: 3px solid gold;
    border-radius: 10px;
}

.todos__form_btn{
    background-color: rgb(250, 213, 5);
    border: 2px solid white;
    border-radius:15px;
    color: black;
    font-weight: 800;
    min-width: 190px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.todos__form_input_text{
    background-color: gold;
    color: black;
    padding: 5px;
}